#Sun Feb 18 17:29:33 CET 2007
autotestsuite.class.exclusions=.*FTC_.*;.*\\.refactoring\\..*
test.eclipse.zip=C\:\\downloads\\eclipse-SDK-3.2.1-win32.zip
autotestsuite.trace=true
pluginbuilder.features=org.rubypeople.rdt,org.rubypeople.rdt-tests
pluginbuilder.server.user=rdt
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rubyeclipse.svn.sourceforge.net/svnroot/rubyeclipse/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
